<a href="https://colab.research.google.com/github/Albyjacobmathew/python/blob/main/oct9python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=int(input("enter the age"))
if a>=18:
  print("your are eligible")
else:
  print("your are not eligible")

In [ ]:
#reverse
str2="good morning"
print(str2[::-1])

In [ ]:
#string slice
name="python programming"
s="hello"
print(name[2:13])
print(name[-8:-1])
print(name[::-5])
print(name+s)
print(name*5)

In [ ]:
#list programms
mylist=('Alby','24', 'Kottayam','686019')
print(mylist)
print(mylist[1:2])

#nested index
print(mylist[3][2])

('Alby', '24', 'Kottayam', '686019')
('24',)
6

In [ ]:
#tuple programming
tup=("Alby",24,"Kottayam",500000)
print(tup)
print(tup[1:3])
print(tup[-2:-1])
#nested index
print(tup[0][3])

In [ ]:
#set
myset={29,2,375,"oneteam",2,'a',2,'a'}
print(myset)

In [ ]:
temperature=float(input("enter your temperature: "))
if temperature>=70:
  print("wear short and t-shirts")
elif 50<=temperature<=69:
  print("jeans and a light jacket")
elif temperature <50:
  print("wear heavy coat and warm pants")
else:
  print("unknown temperature", temperature)

In [ ]:
year=int(input("enter the year:"))
if year%4==0 or year%100==0 and year%400==0:
  print(year,"this  year is a leap year")
else:
  print(year,"this is not a leap year")

In [ ]:
month = int(input("Enter the month (1-12): "))

if 3 <= month <= 5:
    season = "Spring"
elif 6 <= month <= 8:
    season = "Summer"
elif 9 <= month <= 11:
    season = "Autumn"
else:
    season = "Winter"

print("The season is", season)

In [ ]:
total_price = float(input("Enter the total price: "))

if total_price > 100:
    discount = total_price * 0.10
else:
    discount = 0

final_price = total_price - discount
print("Discount: $", discount)
print("Final Price: $", final_price)

In [ ]:
num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

In [ ]:
name=input("enter your name")
english=int(input("enter your mark in english"))
Hindi=int(input("enter your mark in hindi"))
maths=int(input("enter your mark in maths"))
total=english+Hindi+maths
print("total=",total)
average=total/3
print("average=",average)
if average >=90:
  print("grade is A+")
elif average >=80:
  print("grade is A")
elif average >=60:
  print("grade is C")
elif average >=40:
  print("grade is D")
else:
  print("failed")

In [ ]:
USERID=input("enter your userID")
unit=int(input("enter your unit"))
if unit <=50:
  billamount=unit*0.25
  print("billamount=", billamount)
elif unit <=100:
  billamount=50*0.25+(unit-50)*.50
  print("billamount=", billamount)
elif unit <=150:
  billamount=50*0.25+50*0.5+(unit-100)*.75
  print("billamount=", billamount)
elif unit <=200:
  billamount=50*0.25+50*0.5+50*0.75+(unit-150)*1
  print("billamount=", billamount)
elif unit >200:
  billamount=50*0.25+50*0.5+50*0.75+50*1+(unit-200)*1.5
  print("billamount=", billamount)
else:
  print("enter a valid number")

In [ ]:
a=input("enter your age")
b=input("enter your height")
c=int(a)+int(b)
print(c)

In [ ]:
a=int(input("enter two number"))
b=int(input())

In [ ]:
a=10
print(type(a))
s=str(a)
print(type(s))

In [ ]:
my_list=['edge',25,'dubai',85000]
print(type(my_list))
tup=tuple(my_list)
print(type(tup))

In [ ]:
#while looping
count=1
while(count<51):
  print("THE COUNT VALUE IS : ",count)
  count+=1 #count=count+1

print("goodbye")

In [ ]:
count=0
while(count<51):
  print("THE COUNT VALUE IS : ",count)
  count+=2 #count=count+1

print("goodbye")

In [ ]:
table=int(input("enter a number: "))
count=1
while(count<=10):
  count+=1
  value=count*table
  print(count,"x",table,'=',value)

In [ ]:
#sum of even number

limit=int(input("enter a limit"))
number=0
sum=0

while number<=limit:
  sum=sum+number
  number+=2
print("the sum of even number is",limit,"=",sum)

In [ ]:
#product of even number

limit=int(input("enter a limit: "))
number=2
product=1
while number<=limit:
  product=product*number
  number+=2

print("the product of even number is",limit,"=",product)

In [ ]:
#Sum of natural numbers
limit=int(input("enter a natural number: "))
number=1
sum=0

while number<=10:
  sum=limit+sum
  number+=1

print("the sum natural number is",sum)

enter a natural number: 5
the sum natural number is 50

In [ ]:
count=1
while(count<=10):
  count+=1
  if(count==5):
    continue

  print(count)

2
3
4
6
7
8
9
10
11

In [ ]:
#factorial
num=int(input("enter the number:"))
#factorial=1
if num<=0:
  print("negative number does't have factorial")
elif num==0:
  print("factorial of zero is one")
else:
  factorial=1
  i=1
  while i <= num:
        factorial *= i
        i += 1
  print("The factorial of", num, "is:", factorial)

# New Section

In [ ]:
var=10
while var>0:
  var=var-1
  if var==5:
    continue
  print("current value is: ",var)
print("thankyou")

In [ ]:
var=10
while var>0:
  var=var-1
  if var==5:
    break
  print("current value is: ",var)
print("thankyou")

In [ ]:
var=10
while var>0:
  var=var-1
  if var==5:
    pass
  print("current value is: ",var)
print("thankyou")

In [ ]:
mylist=["ALBY",24,"Manarcad"]
for i in mylist:
  print(i)

In [ ]:
#range function (start,stop,stepsize)
#factorial
num=1
factorial=1
if num < 0:
   print("factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

In [ ]:
orginal_list = ["a",1,"b",2,"c",3,4,5]
reversed_list = []
for item in orginal_list:
  reversed_list.insert(0,item)

print("orginal list: ",orginal_list)
print("reversed list:",reversed_list)

In [ ]:
#palindrome or not
word=str(input("enter the word: "))
rev==""
for i in word:
  rev=i+rev
if(word==rev):
  print(word,"is palindrome")
else:
  print(word,"is not palindrome")

In [ ]:
number=[1,3,2,4,3,2,5,3,4,5,4,2]
count={}
for num in number:
  if num in count:
    count[num]+=1
  else:
    count[num]=1

In [ ]:
#automorphic number

num=16
sq=pow(num, 2)
mod=pow(10, len(str(num)))

if sq % mod == num:
  print("it is an automorphic number")
else:
  print("it is not an automorphic number")

In [ ]:
#automorphic number

a=int(input("enter a number: "))
square=a*a
if a%10!=square%10:
  print("not automorphic")
else:
  print("automorphic")

In [ ]:
#trimorphic number

num=int(input("enter a number: "))
square=num**2
cube=num**3
smod=pow(10, len(str(num)))
cmod=pow(10, len(str(num)))

if square%smod == num:
  print("automorphic")
else:
  print("not automorphic")

if cube%cmod == num:
  print("trimorphic")
else:
  print("not trimorphic")

In [ ]:
#calculator

In [ ]:
#Right-Angled triangle

In [ ]:
#string- inbuilt methods

#lens()
my_string="python programming"
print(len(my_string))
print(my_string.upper())
print(my_string.lower())
print(my_string.capitalize())

my_string = "hello, hello, helloo, world!"
count = my_string.count("hello")
print(count)

my_string = "hello, world!"
new_string = my_string.replace("hello","hi")
print(new_string)

my_string = "apple,orange,banana,grape"
fruits=my_string.split()
print(fruits)

18
PYTHON PROGRAMMING
python programming
Python programming
3
hi, world!
['apple,orange,banana,grape']

In [ ]:
#list-inbuilt method

my_list = [1,2,3]
my_list.append(4)
print(my_list)

my_list = [1,2,3]
my_list.extend([4,5,6])
print(my_list)

my_list = [1,2,3]
my_list.insert(0,12) #insert(index,item)
print(my_list)

my_list= [1,2,3,2]
my_list.pop()
print(my_list)

my_list = [1,2,3,2]
my_list.pop(2)
print(my_list)

my_list = [1,2,3,2]
s=my_list.index(3)
print(s)

my_list = [41, 12, 63, 32]
my_list.count(3)
print(my_list)

my_list = [41, 12, 63, 32]
my_list.sort()
print(my_list)

my_list = [41, 12, 63, 32]
sorted_list_desc = sorted(my_list, reverse=True)
print(sorted_list_desc)

my_list = [41, 12, 63, 32]
my_list.reverse()
print(my_list)

my_list = [41, 12, 63, 32]
my_list.clear()
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[12, 1, 2, 3]
[1, 2, 3]
[1, 2, 2]
2
[41, 12, 63, 32]
[12, 32, 41, 63]
[63, 41, 32, 12]
[32, 63, 12, 41]
[]

In [ ]:
#set

my_set = {1,2,3,4}
my_set.add(5)
print(my_set)

my_set.update([2,-9])

my_set.remove(5)
print(my_set)

my_set.discard(4)
print(my_set)

#pop()
#clear()

{1, 2, 3, 4, 5}
{1, 2, 3, 4, -9}

In [ ]:
word=set()
print(word)

In [ ]:
#dictionary
mydict={1:2,2:4,3:6,4:8}
print(mydict)
print(mydict[3])
mydict[3]=90
print(mydict)
mydict[5]=25
print(mydict)

del mydict[3]
print(mydict)

k=mydict.keys()
v=mydict.values()
i=mydict.items()
print(k)
print(v)
print(i)

{1: 2, 2: 4, 3: 6, 4: 8}
6
{1: 2, 2: 4, 3: 90, 4: 8}
{1: 2, 2: 4, 3: 90, 4: 8, 5: 25}
{1: 2, 2: 4, 4: 8, 5: 25}
dict_keys([1, 2, 4, 5])
dict_values([2, 4, 8, 25])
dict_items([(1, 2), (2, 4), (4, 8), (5, 25)])

In [ ]:
#creating a dictionary
my_dict = {'name': 'John', 'age': 25, 'city': 'New York'}

#accessing values
print(my_dict['name'])

#updating values
my_dict['age']= 24
print(my_dict)

#adding a new key value pair
my_dict['occupation']= 'engineer'

#deleting a key vale pair
del my_dict['city']
print(my_dict)

#using keys(), values(), and items()
keys_list = my_dict.keys()
values_list = my_dict.values()
items_list = my_dict.items()

print(keys_list)
print(values_list)
print(items_list)

#using get ()
value = my_dict.get('age', 'N/A')
print(value)

value = my_dict.get('salary', 'N/A')
print(value)

#using pop()
removed_value = my_dict.pop('age')
print(removed_value)
print(my_dict)

#using popitem()
removed_item = my_dict.popitem()
print(removed_item)
print(my_dict)

#using clear()
my_dict.clear()
print(my_dict)

#using update ()
my_dict.update({'country': 'USA', 'age': 30})
print(my_dict)

John
{'name': 'John', 'age': 24, 'city': 'New York'}
{'name': 'John', 'age': 24, 'occupation': 'engineer'}
dict_keys(['name', 'age', 'occupation'])
dict_values(['John', 24, 'engineer'])
dict_items([('name', 'John'), ('age', 24), ('occupation', 'engineer')])
24
N/A
24
{'name': 'John', 'occupation': 'engineer'}
('occupation', 'engineer')
{'name': 'John'}
{}
{'country': 'USA', 'age': 30}

In [ ]:
#funtion
#factorial
num=int(input("enter the number:"))
def factorial():
  if num<=0:
    print("negative number does't have factorial")
  elif num==0:
    print("factorial of zero is one")
  else:
    factorial=1
    i=1
  while i <= num:
        factorial *= i
        i += 1
  print("The factorial of", num, "is:", factorial)

factorial()

enter the number:24
The factorial of 24 is: 620448401733239439360000

In [ ]:
#Return
def sum():
  a=10
  b=20
  c=a+b
  return c
sum()

In [ ]:
#default parameter passing

def sum(a,b):
  c=a+b
  return c
sum(122,345)

In [ ]:
#keyword parameter paasing

def sum(a=123,b=78):
  c=a+b
  return c
sum()

In [ ]:
#arbitaryarguments parameter passing

def sum(*a):
  print(a)

sum(2,3,4,5,6,7)

(2, 3, 4, 5, 6, 7)

In [ ]:
#reference parameter passing

def sum(a):
  print(a)

r=10
sum(r)

10

In [ ]:
#keyword arbitaryarguement parameter passing

def word(**x):
  print(x)
word(name='alby', age='24')

{'name': 'alby', 'age': '24'}

In [ ]:
#phonebook

contactbook={}

def addcontact():
  contactbook[name]=phone

def searchcontact():
  serach_contact=input("search name")
  if search_contact in contactbook:
    print(search_name, "contact number: ",contactbook[search_contact])
  else:
    print("not found")

def editcontact():
    edit_contact=input("enter the edit contact   :")
    if edit_contact in contact:
            phone=input("enter the mobile number")
            contact[edit_contact]=phone
            print("contact updated")
    else :
            print("Name is not found")

def display():
     print("NAME \t\t\t\t CONTACT NUMBER")
     for x in contact:
        print("{}\t\t\t\t{}".format(x,contact.get(x)))

def dele():
    del_contact=input("enter the delete contact name  :")
    if del_contact in contact:
            confirm=input("do you want to delete contact y / n  :")
            if confirm=="Y" or confirm=="y":
                contact.pop(del_contact)
            else:
                print("name is not found")


while True:
    choice=int(input("1.addcontact \n 2.Search contact \n 3.Display contact \n 4.Edit contact \n 5.delete contact \n 6.exit "))

    if choice==1:
        name=input("enter the name    :")
        phone=input(("enter the phone number  : "))
        add()

    elif choice==2:
        search()

    elif choice==3:
        display()
        print("display contact as soon as possibile")

    elif choice==4:
         edit()


    elif choice ==5:
         dele()

    else:
      break

In [ ]:
def factorial(x):
  if x==1:
    return 1
  else:
    return(x*factorial(x-1))

num=int(input("enter a number:  "))
print("the factorial of", num, "is", factorial(num))

enter a number:  5
the factorial of 5 is 120